@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Raleway:wght@200&display=swap');

:root {
    --primary-color: #beee3b;
    --secondary-color: #00c9d2;
    --accent1-color: #0f928c;
    --accent2-color: #006465;
    --accent3-color: #484848;

    --heading-font: "Croissant One";
    --paragraph-font: Raleway, Helvetica, sans-serif;

    --headline-color-on-white: #beee3b;
    --headline-color-on-color: white;
    --paragraph-color-on-white: #484848;
    --paragraph-color-on-color: white;
    --paragraph-background-color: #00c9d2;
    --nav-link-color: white;
    --nav-background-color: #006465;
    --nav-hover-link-color: #006465;
    --nav-hover-background-color: white;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
    color: white;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 225px;
    z-index: -1;
}

#hero-img {
    width: 100%;
    height: 70%;
    filter: brightness(50%);
}

/* nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--nav-background-color);
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
} */

main section {
    text-align: center;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-family: var(--heading-font);
}

p {
    font-size: 18px;
    font-family: var(--paragraph-font);
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    text-align: center;
    color: var(--nav-link-color);
    background-color: var(--nav-background-color);
}

footer {
    color: var(--nav-link-color);
    background-color: var(--nav-background-color);
    padding: 25px 20px;
    margin-top: 200px;
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

footer p {
    font-size: 0.70em;
    font-weight: bold;
}

footer a {
    text-decoration: none;
}

footer .social img {
    padding-top: 15px;
    width: 60px;
}

#info {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.social {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

#lastModified {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.logo {
    width: 80px;
}


/* ?---------------------------------------- DISCOVERY PAGE ---------------------------------------*/
#discovery {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
}

.sidebar {
    grid-column: 1 / 2;
    border-radius: 15px;
    margin-top: 50px;
    margin-left: 40px;
    display: grid;
    grid-template-rows: 360px 180px 360px 180px;
    grid-gap: 10px;
    grid-template-columns: 1fr;
}

.infoSonso {
    grid-column: 1 / 2;
    border-radius: 15px;
    grid-row: 2 / 3;
    background-color: var(--primary-color);
    color: var(--accent3-color);
    text-align: center;
}

.infoSonso h2 {
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.flag {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picFlag img {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--accent3-color);
}

.infoSonso p {
    font-weight: bold;
}

.politicalDivision {
    grid-column: 1 / 2;
    border-radius: 15px;
    grid-row: 3 / 4;
    color: var(--accent2-color);
    border: 2px solid var(--accent2-color);
    margin-top: 10%;
}

.politicalDivision h3 {
    text-align: center;
}

.politicalDivision li {
    font-weight: bold;
    text-align: left;
    font-family: var(--paragraph-font);
    font-size: 0.7em;
    padding-bottom: 30px;
}

.lastVisitDiv {
    grid-column: 1 / 2;
    border-radius: 15px;
    grid-row: 4 / 5;
    color: var(--accent1-color);
    border: 2px solid var(--accent1-color);
    margin-top: 5%;
    height: 100px;
    font-weight: bold;
}

#lastVisit {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.principal {
    grid-column: 2 / 3;
    text-align: center;
    padding: 50px;
    margin-top: 20px;
}

.imgDiscovery {
    width: 100%;
    height: auto;
}

.picDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.descriptionPic {
    display: flex;
    font-size: 0.7em;
    font-weight: bold;
    font-family: var(--paragraph-font);
    justify-content: center;
    padding-top: 2%;
}

/************************* MENU ************************/
#menu {
    display: none;
}

.navigation {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 100%;
}

.navigation li {
    width: 25%;
}

.navigation li a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}

.navigation li a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}