/* ?---------------------------------------- DISCOVERY PAGE ---------------------------------------*/
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 600px) {

    /* ? DISCOVERY PAGE */
    #discovery {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
    }

    .sidebar {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        /* margin-top: 50px; */
        margin: 20px;
        display: grid;
        grid-template-rows: 360px 180px 360px;
        grid-gap: 10px;
        grid-template-columns: 1fr;
        height: auto;
    }

    .infoSonso {
        grid-column: 1 / 2;
        border-radius: 15px;
        grid-row: 2 / 3;
        text-align: center;
    }

    .flag {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .picFlag img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .infoSonso p {
        font-weight: bold;
    }

    .politicalDivision {
        grid-column: 1 / 2;
        border-radius: 15px;
        grid-row: 3 / 4;
        margin-top: 10%;
    }

    .politicalDivision h3 {
        text-align: center;
    }

    .politicalDivision li {
        font-weight: bold;
        text-align: left;
        font-size: 0.6em;
        padding-bottom: 30px;
    }

    .principal {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        text-align: center;
        padding: 50px;
        margin-top: 20px;
    }

    .imgDiscovery {
        width: 100%;
        height: auto;
    }

    .picDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
    }

    .descriptionPic {
        display: flex;
        font-size: 0.4em;
        font-weight: bold;
        justify-content: center;
        padding-top: 2%;
    }

    /************************************** MENU *****************************/
    nav {
        justify-content: space-around;
        /* background-color: #c0a1ae; */
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        height: 200px;
        display: inline-grid;
    }

    nav a {
        text-align: center;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        padding: 10px;
        font-family: var(--paragraph-font);
        font-weight: bold;
        font-size: 1em;
    }

    #menu {
        font-size: 1.5rem;
        border: 1px solid rgba(0, 0, 0, .3);
        padding: .25rem .75rem;
        color: var(--nav-link-color);
        background-color: var(--nav-background-color);
        position: absolute;
        /* top: 1rem; */
        right: 1rem;
        display: block;
        height: 50px;
    }

    #menu::before {
        content: "☰";
    }

    #menu.open::before {
        content: "❎";
    }

    nav {
        height: 50px;
        display: block;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .navigation li {
        display: none;
    }

    .navigation li a {
        display: block;
        padding: 0.5rem;
        text-align: center;
        text-decoration: none;
        font-size: 1em;
    }

    .open .navigation {
        display: block;
        width: 100%;
    }

    .open li {
        display: block;
        width: 100%;
    }

    .open li a {
        display: block;
    }



    /* FOOTER */
    footer .social img {
        padding-top: 10px;
        width: 50px;
        height: 50px;
    }

    footer p {
        font-size: 0.50em;
    }

    /* ?? JOIN PAGE */
    #form-main {
        display: grid;
        grid-template-columns: 100px auto 100px;
        grid-template-rows: 1fr;
        margin: 1rem;
    }

    .radioGroup {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
    }

    .left {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .right {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .directory {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 80px 1fr 1fr;
    }

    .directory h3 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        text-align: center;
    }

    #cards {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
    }

    /* ? HOME PAGE */
    #home {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .cardWeather {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        margin: 5px;
    }

    .promotions {
        grid-row: 1 / 3;
        grid-column: 1 / 2;
        margin: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .silver {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        margin: 5px;
    }

    .gold {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        margin: 5px;
    }
}

@media screen and (min-width: 600px) {
    .picDiv:hover {
        box-shadow: 0 0 50px #333;
    }
}