@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Raleway:wght@200&display=swap');

:root {
    /* change the values below to your chosen font(s) */
    --heading-font: "Croissant One";
    --paragraph-font: Raleway, Helvetica, sans-serif;
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto 1fr auto;
    margin: 0 auto;
}

header {
    background: #c1e0e0;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    text-align: center;
    height: 200px;
    color: #161613;
    font-family: var(--heading-font);
}

#imgHeader {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 30px;
}

header h1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: start;
}

header #mode {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: end;
    font-family: var(--paragraph-font);
    font-size: 1em;
    font-weight: bold;
    padding-right: 30px;
    cursor: pointer;
}

nav {
    justify-content: space-around;
    background-color: #c0a1ae;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    height: 50px;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navigation {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 100%;
}

.navigation li {
    width: 25%;
}

.navigation li a {
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #161613;
    text-decoration: none;
    padding: 15px;
    font-family: var(--paragraph-font);
    font-weight: bold;
    font-size: 1.2em;
}

.navigation li a:hover {
    background-color: #f9f9e7;
    color: #c0a1ae;
}

#imgMe {
    width: 115px;
    height: 165px;
}

main {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
}

footer {
    background: #c1e0e0;
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    text-align: center;
}

h2 {
    font-family: var(--heading-font);
    color: #161613;
}

#subtitle {
    padding-left: 40px;
    padding-top: 30px;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    border-bottom: #161613 1px solid;
}

section {
    margin-left: 90px;
}

.card {
    border: #161613 1px solid;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    margin-bottom: 40px;
    margin-top: 30px;
    box-shadow: gray 5px 5px 5px;
}

.card h3 {
    font-family: var(--heading-font);
    color: #161613;
    background-color: #c1e0e0;
    grid-row: 1 / 2;
    margin: 0;
    padding: 10px;
    text-align: center;
}

.card p {
    font-family: var(--paragraph-font);
    text-align: center;
}

.card ul {
    list-style-type: none;
    font-family: var(--paragraph-font);
    line-height: 1.5;
}

#learningActs {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    width: 500px;
}

#info {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    width: 300px;
}

footer p {
    font-family: var(--paragraph-font);
    color: #505045;
    font-size: 1em;
    font-weight: bold;
}

#menu {
    display: none;
    /* hide hamburger button */
}

.hero img {
    width: 100%;
    height: auto;
}

.hero {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin-top: 30px;
}

.herolabel {
    position: absolute;
    top: 40%;
    left: 30px;
    background: radial-gradient(#fff, #c0a1ae);
    border: 1px solid rgba(0, 0, 0, .75);
    padding: 1.5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
}

.herolabel p {
    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 2rem;
    font-family: var(--heading-font);
}

.map {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    margin: 30px;
    width: 95%;
    height: auto;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

figure {
    text-align: center;
}

figcaption {
    font-family: var(--paragraph-font);
    font-size: 1em;
    color: #505045;
}