@media screen and (max-width: 1000px) {
    section {
        margin-left: 30px;
    }

    #learningActs {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        width: 300px;
    }

    #info {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        width: 250px;
    }
}

@media screen and (max-width: 600px) {
    header {
        grid-row: 1 / 3;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        /* height: 150px; */
    }

    #imgHeader {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        display: flex;
        align-items: center;
        justify-content: end;
        padding-right: 10px;
    }

    header h1 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        display: flex;
        align-items: center;
        justify-content: start;
        font-size: 1.1em;
    }

    #imgMe {
        width: 95px;
        height: 145px;
    }

    nav {
        justify-content: space-around;
        background-color: #c0a1ae;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        height: 200px;
        display: inline-grid;
    }

    nav a {
        text-align: center;
        align-items: center;
        justify-content: center;
        color: #f9f9e7;
        text-decoration: none;
        padding: 10px;
        font-family: var(--paragraph-font);
        font-weight: bold;
        font-size: 1em;
    }

    main {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        padding-top: 90px;
    }

    #subtitle {
        padding-left: 30px;
        padding-top: 30px;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        border-bottom: #161613 1px solid;
        font-size: 1em;
    }

    section {
        margin-left: 60px;
    }

    #learningActs {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        width: 300px;
    }

    #info {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        width: 300px;
    }

    #menu {
        font-size: 1.5rem;
        border: 1px solid rgba(0, 0, 0, .3);
        padding: .25rem .75rem;
        background-color: #c0a1ae;
        color: #161613;
        position: absolute;
        /* top: 1rem; */
        right: 1rem;
        display: block;
        height: 50px;
    }

    #menu::before {
        content: "☰";
    }

    #menu.open::before {
        content: "❎";
    }

    nav {
        height: 50px;
        display: block;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        background-color: #c0a1ae;
        color: #161613;
        padding: 0;
    }

    .navigation li {
        display: none;
    }

    .navigation li a {
        display: block;
        padding: 0.5rem;
        text-align: center;
        text-decoration: none;
        color: #161613;
        font-size: 1em;
    }

    .open .navigation {
        display: block;
        width: 100%;
    }

    .open li {
        display: block;
        width: 100%;
    }

    .open li a {
        display: block;
    }
}